form {
    display: flex;
    flex-direction: column;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: column;

            label {
                color: var(--main-soft-text);
                font-size: 13px;
                margin-top: 12px;
                margin-bottom: 8px;
            }

            input {
                padding: 4px 12px;
                outline: none;
                border: none;
                border-radius: var(--main-border-radius);
                color: var(--main-text-color);
                font-size: 16px;
                background-color: var(--header-background-active);
                margin-bottom: 8px;

                &::placeholder {
                    font-size: 13px;
                    color: var(--header-text-color);
                }
            }

            output {
                display: none;
                // visibility: hidden;
                margin-bottom: 20px;
                font-size: 13px;
                color: var(--main-color);

                &::before {
                    content: '*** ';
                }
            }
        }

        li.hidden {
            display: none;
        }
    }

    .panel-footer {
        display: none;
        // display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: var(--header-border-bottom);

        button {
            padding: 8px 12px;
            border: none;
            border-radius: var(--main-border-radius);
            color: var(--main-text-color);
            font-size: 16px;
            background-color: var(--header-background-active);
            margin-top: 16px;

            &:hover {
                color: #ffffff;
                background-color: var(--main-color);
                cursor: pointer;
            }
        }
    }
}